button:disabled {
    opacity: 0.6;
  }
  .pages {
    cursor: pointer;
    background-color: lightblue;
    font-size: 12px;
    padding: 5px;
    border: 1px solid black;
  }
  
  .selectedItem {
    background-color: yellow;
  }
  